body {
    background-color: lightskyblue !important;
}

.form {
    margin-top: 100px;
    margin-bottom: 50px;
}

.table {
    background-color: white !important;
    width: 100% !important;
    font-size: 10px;
}

.table th {
    color: #9d9d9d !important;
    background-color: black !important;
}

.active {
    text-decoration: underline;
    color: white !important;
}

#resultTable tbody {
    border-color: darkred;
    border-style: dotted;
    border-width: 2px !important;
}

#resultTableInPercents{
    position: fixed;
    top: 50px;
    right: 0px;
    width: 650px;
    background-color: whitesmoke;
    display: none;
    border-style: double;
    border-color: #0f0f0f;
    border-width: 3px;
}

#resultTableInPercents th {
    color: #9d9d9d !important;
    background-color: black !important;
    cursor: hand !important;
}